body {
    font-family: 'Domine', serif;
    color: #fff;
    margin: 0;

}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;

}

/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}


.header-inner {
    display: flex;
    justify-content: flex-end;

}
.header-social {
    display: inline-block;
    color: #fa5c65;
}

/* Logo */
.logo {
    width: 140px;
    height: 74px;
    background-color: #fa5c65;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 5px;
}
.logo-text {
    font-family: 'Domine', serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 40px;
}

/* Nav */
.nav {
    margin-top: 29px;

}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #263742;
    display: inline-block;
    margin-right: 36px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.1s linear;
}
.nav-link:nth-child(4) {
    margin-right: 30px;
}
.nav-link:hover {
    color: #fa5c65;
}
.nav-toggle {
    display: none;
    width: 24px;
    padding: 10px 0;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 1;
}
.nav-toggle-item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}
.nav-toggle.active .nav-toggle-item {
background: none;
}
.nav-toggle.active .nav-toggle-item::before {
    transform-origin: left top;
    transform:  rotate(45deg) translateX(0px);
    -webkit-transform:  rotate(45deg) translateX(0px);
    -moz-transform:  rotate(45deg) translateX(0px);
    -ms-transform:  rotate(45deg) translateX(0px);
    -o-transform:  rotate(45deg) translateX(0px);
}
.nav-toggle.active .nav-toggle-item::after {
    transform-origin: left bottom;
    transform:  rotate(-45deg) translateX(0px);
    -webkit-transform:  rotate(-45deg) translateX(0px);
    -moz-transform:  rotate(-45deg) translateX(0px);
    -ms-transform:  rotate(-45deg) translateX(0px);
    -o-transform:  rotate(-45deg) translateX(0px);
}
.nav-toggle-item::before,
.nav-toggle-item::after { 
    content: "";
     width: 100%; 
     background-color: #fff; 
     height: 3px; position: absolute;
      left: 0; 
      z-index: 1; 
      transition: transform .2s linear;
      
}
.nav-toggle-item::before {
    top: -8px;
}
.nav-toggle-item::after {
    bottom: -8px;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    margin-bottom: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../img/bg.png") no-repeat top center;
    background-size: cover;
}

.intro-inner {
    max-width: 520px;
}

.intro-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #314a5b;
    letter-spacing: -1.44px;
    line-height: 53px;
    text-transform: uppercase;
}

.intro-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    max-width: 405px;
    color: #314a5b;
    margin-bottom: 42px;
    line-height: 40.35px;
}

.intro-point {
    color: #fa5c65;
}

.intro-btn {
    display: block;
    width: 171px;
    height: 64px;
    border-radius: 5px;
    background-color: #fa5c65;

}

.intro-btn-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding-top: 10px;
    line-height: 48.38px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.point {
    color: #74505e;
}

/* Social */
.facebook {
    margin-right: 23px;
}

.facebook,
.twitter {
    color: #fa5c65;
    text-decoration: none;
    transition: color 0.2s linear;
}

.facebook:hover {
    color: #fff;
}

.twitter:hover {
    color: #fff;
}

/* Work */
.section-work {
    margin-bottom: 104px;
}

.work-inner {
    display: flex;
    justify-content: space-between;
}

.work-items {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.work-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #465065;
    text-transform: uppercase;
}

.work-point {
    margin-left: 0;
    color: #fa5c65;
}
.work-text {
    font-family: 'Open Sans', sans-serif;
    max-width: 260px;
    font-size: 15px;
    color: #9aa0ab;
    margin-bottom: 30px;
    line-height: 22px;

}
.arrows {
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: bolder;
    color: #fa5c65;

    text-transform: uppercase;
    text-decoration: none;

}

.arrows-last {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: bolder;
    color: #fa5c65;
    display: flex;
    justify-content: flex-end;

}

.fas {
    vertical-align: middle;

}

/* Portfolio */
.section-portfolio {
    margin-bottom: 110px;
}

.portfolio-inner {
    display: flex;
    align-items: center;
}

.portfolio-items {
    margin-right: 56px;
    position: relative;
}

.portfolio-items:last-child {
    max-width: 380px;
}

.portfolio-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #314a5b;
    margin-bottom: 17px;
    text-transform: uppercase;

}

.portfolio-point {
    color: #fa5c65;

}

.portfolio-suptext {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #314a5b;
    margin-bottom: 20px;

}

.portfolio-middle-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #9aa0ab;
    margin-bottom: 20px;
    line-height: 22px;

}

.portfolio-subtext {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #9aa0ab;
    line-height: 22px;
    margin-bottom: 40px;

}

.portfolio-arrow {
    width: 12px;
    height: 9px;
    position: absolute;
    top: 239px;
    left: 50px;
}

/* Team */

.section-team {
    margin-bottom: 64px;
}

.team-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}

.team-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #314a5b;
    margin-bottom: 16px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
}

.team-point {
    color: #fa5c65;
}

.team-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 40px;
    color: #9aa0ab;
}

.team-items {
    max-width: 290px;
    display: flex;
}
.team-items:nth-child(3) {
    margin-right: 0;
}
.team-items-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #314a5b;
    text-transform: uppercase;
}

.team-profession {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 14px;
    color: #f0454c;
}

.team-description {
    font-family: 'Open Sans', sans-serif;
    max-width: 146px;
    font-size: 14px;
    color: #9aa0ab;
    line-height: 20px;
}
.team-description:last-child {
    margin-bottom: 34px;
}

.team-img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.fas {
    vertical-align: middle;
}

/* Footer */
.footer {
    border-top: 2px solid #e6eaed;

}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0;
}

.footer-social {
    max-width: 140px;

    color: #b9c0c6;
}
.social-link {
    color: #b9c0c6;
    text-transform: uppercase;
}

.fb,
.gp,
.inst,
.tw {
    margin-right: 10px;
}

.tw:hover {
    color: #fa5c65;
}

.inst:hover {
    color: #fa5c65;
}

.fb:hover {
    color: #fa5c65;
}

.gp:hover {
    color: #fa5c65;
}

.copyright-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #b9c0c6;
}

/* Adaptive */

@media (max-width: 939px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .logo {
        width: 110px;
        height: 50px;
        top: 0;
        left: 20px;
    }
    .logo-text {
        font-size: 15px;
        margin-bottom: 22px;
    }
    .nav {
        margin-top: 15px;
        margin-right: 30px;
    }
    .nav-link {
        font-size: 12px;
        margin-right: 30px;
    }
    .nav-link:nth-child(4) {
        margin-right: 15px;
    }
    .header-social {
        font-size: 12px;
    }
    .facebook {
        margin-right: 15px;
    }

    .intro-title {
        font-size: 34px;
        line-height: 45px;
    }
    .intro-text {
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .intro-btn {
        width: 125px;
        height: 50px;
    }
    .intro-btn-text {
        font-size: 12px;
        padding-top: 3px;

    }
    .intro-point {
        margin-left: 0;
    }
    .work-items {
        margin-right: 40px;
    }
    .work-items:last-child {
        margin-right: 0;
    }
    .work-title {
        font-size: 23px;
        margin-bottom: 15px;
    }
    .work-text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .section-portfolio {
        margin-bottom: 55px;
    }
    .portfolio-items img {
        width: 380px;
        height: 380px;
    }

    .portfolio-title {
        font-size: 30px;
        margin-bottom: 12px;
    }
    .portfolio-suptext {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .portfolio-middle-text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .portfolio-subtext {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .arrows {
        font-size: 10px;
    }
    .team-box {
        text-align: center;
    }
    .team-inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
    }
    .team-items {
        max-width: 125px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 180px;
        margin-bottom: 25px;
    }
    .team-items:last-child {
        margin-right: 0;
    }
    .team-items-text {
        text-align: center;
        display: flex;
        align-items: center;
    }
    .team-img {
        margin-bottom: 25px;
    }
    .team-img img {
        width: 124px;
        height: 124px;
    }
    .team-description {
        max-width: 129px;
        font-size: 12px;
    }
    .footer-inner {
        padding: 46px 0;
    }

}

@media (max-width: 770px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .header-social {
        font-size: 12px;
        margin-left: 20px;
    }
    .header.fixed {
        padding: 50px 0;
        background-color: #fbd38d;
        box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform:translate3d(0, 0, 0);
        
    }
    .active {
        background-color: #fbd38d;
    }
    .intro {
      max-height: 600px;
  }
    .intro-inner {
        max-width: 485px;
    }
    .intro-title {
        font-size: 31px;
    }
    .intro-text {
        font-size: 13px;
    }
    
    .nav-toggle {
        display: block;
    }
    .header-inner {
        width: 100%;
        /* display: none; */
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fbd38d;
    }
    .nav-link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    .nav.active {
        display: none;
    }
    
    .section-work {
        margin-bottom: 54px;
    }
    .work-items {
        margin-right: 45px;
    }
    .work-items:last-child {
        margin-right: 0;
    }
    .work-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .work-text {
        max-width: 200px;
        font-size: 11px;
        line-height: 17px;
    }
    .section-portfolio {
        margin-bottom: 54px;
    }
    .portfolio-inner {
        display: flex;
        
    }
    .portfolio-items {
        margin-right: 0;
    }
    .portfolio-items:last-child {
        max-width: 205px;
    }
    .portfolio-items img {
        width: 380px;
        height: 380px;
        margin-right: 0;
    }
    .portfolio-title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .portfolio-suptext {
        font-size: 13px;
    }
    .portfolio-middle-text {
        font-size: 12px;
        line-height: 17px;
    }
    .portfolio-subtext {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 20px;
    }
    .section-team {
        margin-bottom: 0;
    }
    .team-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team-items {
        max-width: 270px;
        margin-right: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: nowrap;
    }
    .team-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team-items-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;
        margin-right: 10px;
    }
  .team-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.team-text {
    font-size: 10px;
}
.team-img {
    margin-bottom: 25px;
    margin-right: 20px;
}
.team-img img {
    width: 110px;
    height: 110px;
}

.team-name {
    font-size: 20px;
}
.team-profession {
    font-size: 16px;
    margin-bottom: 5px;
}
.team-profession {
    font-size: 17px;
    margin-bottom: 5px;
}
    .arrows-last {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .footer-social {
        font-size: 12px;
    }
    .footer-inner {
        padding: 30px 0;
    }
    .copyright-text {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .nav-toggle {
        display: block;
    }
    .nav-link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    
  .header.fixed {
    padding: 47px 0;
    background-color: #fbd38d;
    box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform:translate3d(0, 0, 0);
    
}
.active {
    background-color: #fbd38d;
}
    
    .header-social {
        font-size: 8px;
    }
    .logo {
      width: 90px;
      height: 42px;
      top: 0;
      left: 30px;
  }
  .logo-text {
    font-size: 12px;
    margin-bottom: 25px;
}
    .facebook,
    .twitter {
        font-size: 11px;
    }
    .intro {
      max-height: 550px;
    }
    .intro-inner {
        max-width: 330px;
    }
    .intro-title {
        font-size: 28px;
        line-height: 35px;
    }
    .intro-text {
        font-size: 11px;
        line-height: 23px;
        margin-bottom: 30px;
    }
    .logo {
      width: 110px;
      height: 44px;
      top: 0;
      left: 10px;
  }
  .intro-btn {
    width: 100px;
    height: 42px;
    text-align: center;
}
    .intro-btn-text {
      font-size: 10px;
      padding-top: 0px;
  }
    .work-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work-items {
        max-width: 500px;
        margin-bottom: 50px;
    }
    .work-items:last-child {
        margin-right: 50px;
    }

    .work-text {
      max-width: 500px;
      font-size: 15px;
      line-height: 20px;
  }
    .portfolio-content {
        display: flex;
        justify-content: center;
    }
    .portfolio-inner {
        display: flex;

        align-items: center;
    }

    .portfolio-items img {
        width: 270px;
        height: 280px;
    }

    .portfolio-title {
      font-size: 18px;
      margin-bottom: 8px;
  }
  .portfolio-items img {
    width: 280px;
    height: 280px;
}
    .portfolio-suptext {
      font-size: 10px;
      margin-bottom: 10px;
  }
  .portfolio-middle-text {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 10px;
}
.portfolio-subtext {
  font-size: 10px;
  line-height: 17px;
  margin-bottom: 10px;
}
    .team-box {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .team-items {
      
      margin-right: 0;
      margin-bottom: 0;
      display: flex;
      flex-wrap: nowrap;
      
  }
  .team-items-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 0;
}
.team-inner {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-img {
  margin-bottom: 25px;
  margin-right: 20px;
}
.team-img img {
  width: 110px;
  height: 110px;
}
  .team-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.team-name {
  font-size: 20px;
}
.team-profession {
    font-size: 16px;
    margin-bottom: 5px;
}
.team-description:last-child {
  margin-bottom: 0;
}
    .team-text {
        font-size: 10px;
    }
    .arrows-last {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .footer-inner {
        
        
        padding: 46px 0;
    }
    .footer-social {
        font-size: 16px;
    }
    .copyright-text {
    font-size: 13px;
}
}
@media (max-width: 450px) {
    .intro-title {
        font-size: 27px;
        line-height: 37px;
    }
    .portfolio-items img {
        width: 240px;
        height: 280px;
        margin-right: 0px;
    }
    .portfolio-middle-text {
        font-size: 8px;
        line-height: 15px;
        margin-bottom: 10px;
    }
    .portfolio-subtext {
        font-size: 8px;
        line-height: 15px;
        margin-bottom: 10px;
    }
}
@media (max-width: 420px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
}
.nav-toggle {
    display: block;
}
.nav-link {
    display: block;
    margin: 0;
    padding: 8px 20px;
}

.header.fixed {
padding: 50px 0;
background-color: #fbd38d;
box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
position: fixed;
top: 0;
left: 0;
right: 0;
transform:translate3d(0, 0, 0);

}
.active {
background-color: #fbd38d;
}
.footer-inner {
    display: flex;
    align-items: baseline;
    padding: 20px 0;
}
.copyright-text,
.footer-social {
    font-size: 11px;

}

  
}

@media (max-width: 375px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    
    .header-inner {
        display: flex;
        justify-content: center;
    }
    .nav {
        margin-top: 15px;
        margin-left: 150px;
    }
    .nav-toggle {
        display: block;
    }
    .nav-link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    
    .header.fixed {
    padding: 50px 0;
    background-color: #fbd38d;
    box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform:translate3d(0, 0, 0);
    
    }
    .active {
    background-color: #fbd38d;
    }
    .facebook,
    .twitter {
        font-size: 10px;
    }
    .intro {
        height: 375px;
        margin-bottom: 50px;
    }
    .intro-inner {
        max-width: 205px;
    }
    
    .intro-title {
        font-size: 20px;
        line-height: 24px;
    }
    .intro-text {
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .work-items,
    .work-items:last-child {

        margin-right: 0;
    }
    .work-title {
        font-size: 19px;
        margin-bottom: 10px;
    }
    .work-text {
        max-width: 300px;
        font-size: 13px;
        line-height: 17px;
    }
    .work-point {
        margin-left: 0;
    }
    .arrows {
        font-size: 8px;
    }
    .portfolio-items {
        margin-right: 0;
    }
    .portfolio-items:last-child {
        max-width: 205px;
        margin-right: 0;
    }
    .portfolio-title {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .portfolio-suptext {
        font-size: 10px;
    }
    .portfolio-middle-text {
        font-size: 10px;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .portfolio-subtext {
        font-size: 10px;
        line-height: 17px;
        margin-bottom: 10px;
    }

    .portfolio-items img {
        width: 180px;
        height: 200px;
        margin-right: 0;
    }
    .team-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-title {
    font-size: 28px;
    margin-bottom: 10px;
}
    .team-text {
      font-size: 11px;
  }
    .footer-inner {
        display: flex;
        align-items: baseline;
        padding: 20px 0;
    }
    .copyright-text,
    .footer-social {
        font-size: 11px;

    }

}
@media (max-width: 320px) {
    
    .nav-toggle {
        display: block;
    }
    .nav {
        margin-top: 15px;
        margin-left: 150px;
    }
    .nav-link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    
  .header.fixed {
    padding: 45px 0;
    background-color: #fbd38d;
    box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform:translate3d(0, 0, 0);
    
}
.active {
    background-color: #fbd38d;
}
    .intro {
        height: 320px;
        margin-bottom: 50px;
    }
    .intro-title {
        font-size: 18px;
        line-height: 24px;
    }
    .intro-text {
        font-size: 9px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .section-work {
        margin-bottom: 0px;
    }
    .portfolio-inner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .portfolio-items:last-child {
        text-align: center;
        max-width: 300px;
        margin-right: 0;
    }
    .portfolio-title {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .portfolio-suptext {
        font-size: 12px;
    }
    .portfolio-middle-text {
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .portfolio-subtext {
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .portfolio-items img {
        display: none;
    }
    .footer-inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 20px 0;
    }
    .copyright-text, .footer-social {
        font-size: 13px;
        margin-bottom: 10px;
    }

}
