body {
  font-family: 'Domine', serif;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;

}

/* Header */
.header {
    width: 100%;
    display: flex;
    align-content: flex-start;
}
.header-inner {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 200px;
}
.header-social {
display: inline-block;
color: #fa5c65;
padding-top:25px;
}
/* Logo */
.logo {
    width: 140px;
    height: 74px;
    background-color: #fa5c65;
    border-radius: 0 0 10px 10px;
    margin-right: 300px;
}
.logo-text {
  font-family: 'Domine', serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}

/* Nav */

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #263742;
  display: inline-block;
  padding-top: 27px;
  margin-right: 36px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .1s linear;
}
.nav-link:nth-child(4) {
margin-right: 32px;
}
.nav-link:hover {
  color: #fa5c65;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    margin-bottom: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background: url("../img/bg.png") no-repeat top center;
	background-size: cover;
}
.intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-inner {
    width: 520px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.intro-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #314a5b;
  letter-spacing: -1.44px;
  line-height: 53px;
  text-transform: uppercase;
}

.intro-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 405px;
  color: #314a5b;
  margin-bottom: 42px;
  line-height: 40.35px;
}

.intro-point {
  margin-left: -14px;
  color: #fa5c65;
}

.intro-btn {
    width: 171px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fa5c65;
}

.intro-btn-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.point {
  color: #74505e;
}

/* Social */
.facebook {
margin-right: 23px;
}

.facebook,
.twitter {
  color: #fa5c65;
  text-decoration: none;
  transition: color .2s linear;
}

.facebook:hover {
  color: #fff;
}

.twitter:hover {
  color: #fff;
}

/* Work */
.section-work {
  margin-bottom: 104px;
}

.work-inner {
  display: flex;
  flex: 1 1 0;
}

.work-items {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.work-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #465065;
  text-transform: uppercase;
}

.work-point {
  margin-left: -5px;
  color: #fa5c65;
}
.work-text {
  font-family: 'Open Sans', sans-serif;
  width: 260px;
  font-size: 15px;
  color: #9aa0ab;
  margin-bottom: 30px;
  line-height: 22px;

}
.arrows {
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bolder;
  color: #fa5c65;

  text-transform: uppercase;
	text-decoration: none;

}

.arrows-last {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bolder;
  color: #fa5c65;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  text-decoration: none;
}
.fas {
  vertical-align: middle;

}
.arows-last span{
	margin-right: 5px;
}

/* Portfolio */
.section-portfolio {
  margin-bottom: 110px;
}

.portfolio-inner {
  display: flex;
  align-items: center;
}

.portfolio-items {
  margin-right: 56px;
  position: relative;
}


.portfolio-items:last-child {
  max-width: 380px;
}

.portfolio-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #314a5b;
  margin-bottom: 17px;
  text-transform: uppercase;

}

.portfolio-point {
  color: #fa5c65;

}

.portfolio-suptext {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #314a5b;
  margin-bottom: 20px;

}

.portfolio-middle-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #9aa0ab;
  margin-bottom: 20px;
  line-height: 22px;

}

.portfolio-subtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #9aa0ab;
  line-height: 22px;
  margin-bottom: 40px;

}

.portfolio-arrow {
  width: 12px;
  height: 9px;
  position: absolute;
  top: 239px;
  left: 50px;
}

/* Team */
.section-team {
  margin-bottom: 68px;
}

.team-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
}

.team-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #314a5b;
  margin-bottom: 16px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.team-point {
  color: #fa5c65;
}

.team-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #9aa0ab;
}


.team-items {
  max-width: 280px;
  display: flex;
}
.team-items:nth-child(3) {
margin-right: 0;
}
.team-items-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.team-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #314a5b;
  text-transform: uppercase;
}

.team-profession {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 14px;
  color: #f0454c;
}

.team-description {
  font-family: 'Open Sans', sans-serif;
  width: 146px;
  font-size: 14px;
  color: #9aa0ab;
  line-height: 20px;
}

.team-img {
width: 120px;
height: 120px;
margin-right: 20px;
}


.fas {
  vertical-align: middle;
}



/* Footer */
.footer {
  border-top: 2px solid #e6eaed;

}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px;
}

.footer-social {
  max-width: 140px;

  color: #b9c0c6;
}
.social-link {
  color: #b9c0c6;
  text-transform: uppercase;
}

.tw, .inst, .fb, .gp {
  margin-right: 10px;
}

.tw:hover {
  color: #fa5c65;
}

.inst:hover {
  color: #fa5c65;
}

.fb:hover {
  color: #fa5c65;
}

.gp:hover {
  color: #fa5c65;
}

.copyright-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #b9c0c6;
}
